* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-spacing: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #004643;
}

nav {
    font-weight: 800;
}

main {
    width: 100%;
    background-color: #004643;
    color: #fffffe;
    min-width: 100%;
    border-bottom: 4px solid black;
}

button {
    background-color: #f9bc60;
    color: #001e1d;
    border-radius: 5px;
    padding: 4px;
    font-weight: 800;
}

textarea {
    height: 2rem;
}

section {
    max-width: 100%;
    background-color: #004643;
    color: #fffffe;
}

input[placeholder="Filtrar clientes por nombre..."]{
    height: 2.3rem;
}

.navbar {
    background-color: #fffffe;
}

.login-container {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: rgb(0, 70, 67);
    background: radial-gradient(
        circle,
        rgba(0, 70, 67, 1) 0%,
        rgba(0, 0, 0, 1) 100%,
        rgba(2, 177, 232, 1) 100%,
        rgba(3, 158, 220, 1) 100%,
        rgba(4, 130, 202, 1) 100%,
        rgba(9, 9, 121, 1) 100%,
        rgba(5, 96, 179, 1) 100%,
        rgba(0, 212, 255, 1) 100%
    );
}

.login-container h1 {
    text-align: center;
    color: #fffffe;
}

.login-container .row {
    border: 2px black solid;
    background-color: #004643;
    height: 200px;
    width: 300px;
    align-items: center;
}

.login-container button {
    height: 50px;
    color: #001e1d;
}

.form-description {
    height: 10rem;
}

.btn-danger {
    padding: 4px;
}

.date-search {
    height: 36px;
}