* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-spacing: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #abd1c6;
    padding-right: 0 !important;
}

nav {
    font-weight: 800;
}

main {
    width: 100%;
    background-color: #abd1c6;
    color: #001e1d;
    border-bottom: 4px solid black;
}

button {
    background-color: #f9bc60;
    color: #001e1d;
    border-radius: 5px;
    padding: 4px;
    font-weight: 800;
}

textarea {
    height: 2rem;
}

article {
    background-color: #004643;
}

section {
    max-width: 100%;
    background-color: #abd1c6;
    color: #fffffe;
}

input[placeholder='Filtrar clientes por nombre...'] {
    height: 2.3rem;
}

.navbar {
    background-color: #001e1d !important;
    border-bottom: 3px solid black;
}

.navbar-text-title {
    color: #fafafa;
}

.navbar-text {
    color: #afafaf;
}

.navbar-text.active {
    color: #fafafa !important;
}

.login-container {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: rgb(0, 70, 67);
    background: radial-gradient(
        circle,
        rgba(0, 70, 67, 1) 0%,
        rgba(0, 0, 0, 1) 100%,
        rgba(2, 177, 232, 1) 100%,
        rgba(3, 158, 220, 1) 100%,
        rgba(4, 130, 202, 1) 100%,
        rgba(9, 9, 121, 1) 100%,
        rgba(5, 96, 179, 1) 100%,
        rgba(0, 212, 255, 1) 100%
    );
}

.login-container h1 {
    text-align: center;
    color: #fffffe;
}

.login-container .row {
    border: 2px black solid;
    background-color: #004643;
    height: 200px;
    width: 300px;
    align-items: center;
}

.login-container button {
    height: 50px;
    color: #001e1d;
}

.turn-card {
    width: 95%;
    border: solid black 3px;
    border-radius: 25px;
}

.client-list .row {
    background-color: #abd1c6;
}

.client-list .row article {
    background-color: #abd1c6;
}

.client-card {
    width: 90%;
    border: solid black 3px;
    border-radius: 25px;
    background-color: #004643;
}

.client-card h2 {
    border-bottom: 3px solid black;
}

.form-description {
    height: 10rem;
}

.btn-danger {
    padding: 4px;
    border: 2px solid black;
}

.date-search {
    height: 36px;
}

/* SPINNER CLASSES */

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}